#box{
    height: 100px;
    width: 200px;
    background-color: rgb(250, 162, 55);
    margin: 15px;
}
.box1{
    height: 100px;
    width: 200px;
    background-color: rgb(250, 162, 55);
    margin: 15px;
}